# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Visual studio files
*.vcxproj.user
*.VC.db
*.VC.opendb
*.ipch
*.suo
*.vs

*.pdb

# Dirs
/build
/CMakeFiles
/src/imgui
/src/tinyxml2
